<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hjhy.homeworkplatform.generator.mapper.HomeworkReminderMessageMapper">

    <resultMap id="BaseResultMap" type="org.hjhy.homeworkplatform.generator.domain.HomeworkReminderMessage">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="homeworkId" column="homework_id" jdbcType="INTEGER"/>
        <result property="method" column="method" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="dealTime" column="deal_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>
